/*
This is an example tfvars file for this Terraform configuration.
Please create a local copy on your machine and name it local.tfvars - this file name is set to be ignored by git.
-------------------------------------------------------------------
IMPORTANT: DO NOT check your copy into source control as it may contain a sensitive value.
*/

# subscription_id     = # e.g. "aaaa0a0a-bb1b-cc2c-dd3d-eeeeee4e4e4e"
# project_acronym     = # e.g. "cm" for Case Management
# subscription_env    = # commonly used: "prod" |"preprod"
# vnet_name           = null # Change if a VNet has already been provisioned for the subscription
# vnet_rg             = null # Change if an RG containing a VNet already exists in the subscription
# vnet_address_space  = # e.g. ["10.0.0.0/24"] - use null if referencing a pre-existing VNet
# sa_environments     = # commonly used: ["prod"] | ["dev", "staging"]
# ssh_public_key_path = # e.g. "~/.ssh/vmssadmin_nonprod.pub"